{% extends "layout.html" %}
{% block title %}San Francisco Tour{% endblock %}



{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='pc.css') }}">
	<script async src="/static/pc.js"></script>
{% endblock %}




{% block content %}

	{% if page=="login" %}
	<h1 class=h1-pc-blue>Hey what's your name?</h1>
	
	<div class="center login-name">
	  {% if error %}<p class="error">{{ error }}{% endif %}
	  <form action="{{ url_for('pc_login') }}" method=post>
				<input class="form-control input-lg login-name" type="text" name="name" placeholder="Enter your name">
	  </form>
	</div>



	{% elif page=="avatar" %}
	<h1 class=h1-pc-blue>Pick an outfit for San Francisco</h1>

  <ul class=ul-choices>
		{% for avatar in avatars %}
    <li class=li-choice-avatar>
			<div class="div-center div-avatar" pc-answer={{avatar}}>
				<img class=pc-avatar src="/static/pc/{{avatar}}.png"/>
		{% endfor %}
	</ul>
	<p class=center><a href="{{ url_for('pc_activity_picker') }}" style="display:none;" class="btn btn-default btn-lg pc-blue-button" role="button">What's next?</a></p>




	{% elif page=="activity" %}
	<h1 class=h1-pc-blue>Pick some activities</h1>

	<div class=center>
	  <ul class=ul-choices>
			{% for activity in activities %}
	    <li class=li-choice-activity>
				<div class="div-center div-activity">
					<img class=img-activity pc-answer={{activity['activity']}} src="/static/pc/{{activity['image']}}"/>
			{% endfor %}
		</ul>
	</div>

	<p class=center><a href="{{ url_for('pc_day_picker') }}" class="btn btn-default btn-lg pc-blue-button" role="button">Next</a></p>




	{% elif page=="day" %}
	<h1 class=h1-pc-blue>Okay, when should I expect you?</h1>

  <ul class=ul-choices>
		{% for day in days %}
    <li class="li-choice li-day">
			<div class="div-center div-day" pc-answer={{day}}>{{day}}
		{% endfor %}
	</ul>
	<p class=center><a href="{{ url_for('pc_train_picker') }}" class="btn btn-default btn-lg pc-blue-button" style="display:none;" role="button">Pick a train</a></p>



	{% elif page=="train" %}
	<h1 class=h1-pc-blue>Okay, when should I expect you?</h1>

  <ul class=ul-choices>
		{% for train in trains %}
    <li class="li-choice li-train" pc-answer={{train["arrive"]}}>
			<div class="div-train-top"><span style="display:none;">Departs Palo Alto {{ train["depart"] }}</span></div>
			<div class="div-train">
				<img class="img-train" src="/static/pc/train.gif" />
				<div class="div-train-bottom">{{ train["arrive"] }}</div>
			</div>
	  {% endfor %}
	</ul>
	<p class=center><a href="{{ url_for('pc_done') }}" class="btn btn-default btn-lg pc-blue-button" style="display:none;" role="button">Done!</a></p>




	{% elif page=="quiz" %}
	<h1 class=h1-pc>Answer some questions</h1>

	<div class="form-group quiz-answer">
	  <label class="control-label" for="quiz-foodlike">What are some foods you really like</label>
		<textarea class="form-control" id="quiz-foodlike" rows="2">{{foodResponse.answer if foodResponse else ""}}</textarea>
	</div>

	<div class="form-group quiz-answer">
	  <label class="control-label" for="quiz-fooddislike">What are some foods you don't like or can't eat</label>
		<textarea class="form-control" id="quiz-fooddislike" rows="2">{{foodnoResponse.answer if foodnoResponse else ""}}</textarea>
	</div>

	<div class="form-group quiz-answer">
	  <label class="control-label">Pick some of these
		{% for drink, checked in drinkList %}
		<div class="checkbox"><label><input type="checkbox" value="" {{checked}}>{{drink}}</div>
		{% endfor %}
	</div>
	
	<a href="{{ url_for('pc_summary') }}" class="btn btn-default btn-lg quiz-button" role="button">Summary of answers</a>




	{% elif page=="done" %}
	<h1 class=h1-pc-blue>See you soon!</h1>




	{% elif page=="summary" %}
	<h1 class=h1-pc>Summary</h1>
	
	<form class="form-horizontal" role="form">

	  <div class="form-group">
	    <label class="col-sm-2 control-label"><a href="{{url_for('pc_day_picker')}}">Day</a></label>
	    <div class="col-sm-10"><p class="form-control-static">{{dayResponse.answer if dayResponse else None}}</p>
			</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label"><a href="{{url_for('pc_train_picker')}}">Train</a></label>
	    <div class="col-sm-10"><p class="form-control-static">{{trainResponse.answer if trainResponse else None}}</p>
			</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label"><a href="{{url_for('pc_quiz')}}">Foods liked</a></label>
	    <div class="col-sm-10"><p class="form-control-static">{{foodResponse.answer if foodResponse else None}}</p>
			</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label"><a href="{{url_for('pc_quiz')}}">Foods disliked</a></label>
	    <div class="col-sm-10"><p class="form-control-static">{{foodnoResponse.answer if foodnoResponse else None}}</p>
			</div>
	  </div>

	  <div class="form-group">
	    <label class="col-sm-2 control-label"><a href="{{url_for('pc_quiz')}}">Drinks</a></label>
	    <div class="col-sm-10"><p class="form-control-static">{{drinksResponse.answer if drinksResponse else None}}</p>
			</div>
	  </div>
	</form>

	{% endif %}


{% endblock %}
